<div id="favorite-list">
  <div class="card faveCard hoverable">
    <div class="card-image">
      <img src="assets/images/testdish.jpg">
      <!-- Add Fave - favorite | fave_border      Add to Week = add | minus--> 
      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
  <div class="dishDesc">
    <h6 class="dishType">Seafood</h6>
    <h5 class="dishName">Sushi Donuts</h5>
    <div class="details"><a class="time"><i class="material-icons">access_time</i>42 mins</a>
      <a class="servings"><i class="material-icons">people</i>3 servings</a></div>
    </div>
  </div>

  <div class="card faveCard hoverable">
    <div class="card-image">
      <img src="assets/images/testdish2.jpg">
      <!-- Add button - favorite | fave_border      Add to Week = add | minus --> 
      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
  <div class="dishDesc">
    <h6 class="dishType">Soups</h6>
    <h5 class="dishName">Spicy Tonkotsu</h5>
    <div class="details"><a class="time"><i class="material-icons">access_time</i>30 mins</a>
      <a class="servings"><i class="material-icons">people</i>1 servings</a></div>
    </div>
  </div>

  <div class="card faveCard hoverable">
    <div class="card-image">
      <img src="assets/images/testdish3.jpg">
      <!-- Add button - favorite | fave_border      Add to Week = add | minus --> 
      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
  <div class="dishDesc">
    <h6 class="dishType">Seafood</h6>
    <h5 class="dishName">Oven-Baked Salmon</h5>
    <div class="details"><a class="time"><i class="material-icons">access_time</i>15 mins</a>
      <a class="servings"><i class="material-icons">people</i>2 servings</a></div>
    </div>
  </div>

</div>
