<div class="results" id="favorite-list">
</div>
<!-- Modals -->
<div id="add-recipe" class="modal modal-fixed-footer">
	<div class="modal-content">
	  <div class="input-field col s12" id="recipe-weekday">
	    <select>
	      <option value="1" selected>Monday</option>
	      <option value="2">Tuesday</option>
	      <option value="3">Wednesday</option>
	      <option value="4">Thursday</option>
	      <option value="5">Friday</option>
	      <option value="6">Saturday</option>
	      <option value="7">Sunday</option>
	    </select>
	    <label>Choose A Weekday</label>
	  </div>
	  <div class="input-field col s12" id="recipe-mealtime">
	    <select>
	      <option value="1" selected>Breakfast</option>
	      <option value="2">Lunch</option>
	      <option value="3">Dinner</option>
	    </select>
	    <label>Choose A Meal Time</label>
	  </div>
	  <br><br><br><br><br><br><br><br><br>
	</div>
	<div class="modal-footer">
	  <a class="modal-action modal-close waves-effect waves-green btn-flat" id="Save Recipe">Save</a>
	</div>
</div>