<div id="favorite-list">
	<div class="faveCard">
		<div class="dishImg"><img id="dishPic" src="assets/images/testdish.jpg"></div>
		<div class="dishDesc">
			<h6 id="dishType">Seafood</h6>
			<h5 id="dishName">Sushi Donuts</h5>
			<div class="details"><a id="time"><i class="material-icons">access_time</i>42 mins</a>
			<a id="servings"><i class="material-icons">people</i>3 servings</a></div>
		</div>
	</div>

	<div class="faveCard">
		<div class="dishImg"><img id="dishPic" src="assets/images/testdish.jpg"></div>
		<div class="dishDesc">
			<h6 id="dishType">Seafood</h6>
			<h5 id="dishName">Sushi Donuts</h5>
			<div class="details"><a id="time"><i class="material-icons">access_time</i>42 mins</a>
			<a id="servings"><i class="material-icons">people</i>3 servings</a></div>
		</div>
	</div>

	<div class="faveCard">
		<div class="dishImg"><img id="dishPic" src="assets/images/testdish.jpg"></div>
		<div class="dishDesc">
			<h6 id="dishType">Seafood</h6>
			<h5 id="dishName">Sushi Donuts</h5>
			<div class="details"><a id="time"><i class="material-icons">access_time</i>42 mins</a>
			<a id="servings"><i class="material-icons">people</i>3 servings</a></div>
		</div>
	</div>
</div>
