<div id="grocery-list-view">

   <div class="card recipe-card hoverable grey lighten-2">
  		<div class="recipe">
			<h5 class="dishName">Spicy Tonkotsu</h5>
			<div class="details">
				<a class="time"><i class="material-icons">access_time</i>30 mins</a>
      		<a class="servings"><i class="material-icons">people</i>1 servings</a>
      	</div>
			<div class="ingrediants">
				<p id="ingrediant-item">2½ lb ramen noodles, cooked according to package directions</p>
			</div>
			<div class="ingrediants">
				<p id="ingrediant-item">1 5 oz pork fat</p>
			</div>
			<div class="ingrediants">
				<p class="ingrediant-item">4 lb pig hocks and/or trotters</p>
			</div>
		</div>
	</div>

   <div class="card recipe-card hoverable grey lighten-2">
  		<div class="recipe">
			<h5 class="dishName">Spicy Tonkotsu</h5>
			<div class="details">
				<a class="time"><i class="material-icons">access_time</i>30 mins</a>
      		<a class="servings"><i class="material-icons">people</i>1 servings</a>
      	</div>
			<div class="ingrediants">
				<p id="ingrediant-item">2½ lb ramen noodles, cooked according to package directions</p>
			</div>
			<div class="ingrediants">
				<p id="ingrediant-item">1 5 oz pork fat</p>
			</div>
			<div class="ingrediants">
				<p class="ingrediant-item">4 lb pig hocks and/or trotters</p>
			</div>
			<div class="ingrediants">
				<p class="ingrediant-item">4 lb pig hocks and/or trotters</p>
			</div>
			<div class="ingrediants">
				<p class="ingrediant-item">4 lb pig hocks and/or trotters</p>
			</div>
			<div class="ingrediants">
				<p class="ingrediant-item">4 lb pig hocks and/or trotters</p>
			</div>
		</div>
	</div>

   <div class="card recipe-card hoverable grey lighten-2">
  		<div class="recipe">
			<h5 class="dishName">Spicy Tonkotsu</h5>
			<div class="details">
				<a class="time"><i class="material-icons">access_time</i>30 mins</a>
      		<a class="servings"><i class="material-icons">people</i>1 servings</a>
      	</div>
			<div class="ingrediants">
				<p id="ingrediant-item">2½ lb ramen noodles, cooked according to package directions</p>
			</div>
			<div class="ingrediants">
				<p id="ingrediant-item">1 5 oz pork fat</p>
			</div>
			<div class="ingrediants">
				<p class="ingrediant-item">4 lb pig hocks and/or trotters</p>
			</div>
			<div class="ingrediants">
				<p class="ingrediant-item">4 lb pig hocks and/or trotters</p>
			</div>
		</div>
	</div>

   <div class="card recipe-card hoverable grey lighten-2">
  		<div class="recipe">
			<h5 class="dishName">Spicy Tonkotsu</h5>
			<div class="details">
				<a class="time"><i class="material-icons">access_time</i>30 mins</a>
      		<a class="servings"><i class="material-icons">people</i>1 servings</a>
      	</div>
			<div class="ingrediants">
				<p id="ingrediant-item">2½ lb ramen noodles, cooked according to package directions</p>
			</div>
			<div class="ingrediants">
				<p id="ingrediant-item">1 5 oz pork fat</p>
			</div>
			<div class="ingrediants">
				<p class="ingrediant-item">4 lb pig hocks and/or trotters</p>
			</div>
		</div>
	</div>

   <div class="card recipe-card hoverable grey lighten-2">
  		<div class="recipe">
			<h5 class="dishName">Spicy Tonkotsu</h5>
			<div class="details">
				<a class="time"><i class="material-icons">access_time</i>30 mins</a>
      		<a class="servings"><i class="material-icons">people</i>1 servings</a>
      	</div>
			<div class="ingrediants">
				<p id="ingrediant-item">2½ lb ramen noodles, cooked according to package directions</p>
			</div>
			<div class="ingrediants">
				<p id="ingrediant-item">1 5 oz pork fat</p>
			</div>
			<div class="ingrediants">
				<p class="ingrediant-item">4 lb pig hocks and/or trotters</p>
			</div>
		</div>
	</div>

   <div class="card recipe-card hoverable grey lighten-2">
  		<div class="recipe">
			<h5 class="dishName">Spicy Tonkotsu</h5>
			<div class="details">
				<a class="time"><i class="material-icons">access_time</i>30 mins</a>
      		<a class="servings"><i class="material-icons">people</i>1 servings</a>
      	</div>
			<div class="ingrediants">
				<p id="ingrediant-item">2½ lb ramen noodles, cooked according to package directions</p>
			</div>
			<div class="ingrediants">
				<p id="ingrediant-item">1 5 oz pork fat</p>
			</div>
			<div class="ingrediants">
				<p class="ingrediant-item">4 lb pig hocks and/or trotters</p>
			</div>
		</div>
	</div>


</div>