<div id="my-week-view">

   <div class="card my-week-card hoverable grey lighten-2">
  		<div class="day-of-week">
			<h4 class="day-title">Monday</h4>
		</div>
		<div class="meal-time">
			<p class="meal-title">Breakfast</p>
		</div>
		<div class="row">
			<div class="meal-1">
				<h6 class="dishType">Soups</h6>
    			<h5 class="dishName">Spicy Tonkotsu</h5>
				<div class="details">
					<a class="time"><i class="material-icons">access_time</i>30 mins</a>
      			<a class="servings"><i class="material-icons">people</i>1 servings</a>
      		</div>
    		</div>
		</div>
		<div class="meal-time">
			<p class="meal-title">Lunch</p>
		</div>
		<div class="row">
			<div class="meal-2">
				<h6 class="dishType">Seafood</h6>
		    	<h5 class="dishName">Sushi Donuts</h5>
		    	<div class="details">
		    		<a class="time"><i class="material-icons">access_time</i>42 mins</a>
		      	<a class="servings"><i class="material-icons">people</i>3 servings</a>
		      </div>
    		</div>
		</div>
		<div class="meal-time">
			<p class="meal-title">Dinner</p>
		</div>
		<div class="row">
			<div class="meal-3">
				<h6 class="dishType">Seafood</h6>
    			<h5 class="dishName">Oven-Baked Salmon</h5>
    			<div class="details">
    				<a class="time"><i class="material-icons">access_time</i>15 mins</a>
      			<a class="servings"><i class="material-icons">people</i>2 servings</a>
      		</div>
    		</div>
		</div>
   </div>   

</div>