

<div class="login-screen" id="login-title">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<img id="login-logo" src="assets/images/eat_neat_logo_wht.png">
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<button class="btn blue white-text" id="login-facebook"><img id="fblogo" src="assets/images/fblogo.png"> Facebook</button>
			</div>
			<div class="col s12">
				<button class="btn red white-text" id="login-google"><img id="googlelogo" src="assets/images/googlelogo.png"> Google </button>
			</div>
		</div>
	</div>
</div>
