<div class="login-screen" id="login-title">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<img id="login-logo" src="assets/images/eat_neat_logo_wht.png">
			</div>
		</div>
		<div class="row">
			<div class="col m12">
				<a class="center-align btn-large" href="#search">Click Here to Get Started</a>
			</div>

<!-- 			Future Buttons for FB and Google Login
			<div class="col s12">
				<button class="btn blue white-text login" id="login-facebook" href="#search"><img id="fblogo" src="assets/images/fblogo.png"> Facebook</button>
			</div>
			<div class="col s12">
				<button class="btn red white-text login-google login" id="login-google" href="#search"><img id="googlelogo" src="assets/images/googlelogo.png"> Google </button>
			</div> -->
		</div>
	</div>
</div>
