<div class="grey darken-4 white-text page-title">
	<div class="row valign-wrapper">
		<div class="col s6 m2">
			<a class="left white-text flow-text valign-wrapper" href="#myweek"><i class="material-icons medium">keyboard_arrow_left</i><span>My Week</span></a>
		</div>
		<div class="col m8">
			<h3 id="recipe-label" class="center-align">Recipe Details</h3>
		</div>
		<div class="col s6 m2">
			<a class="right valign-wrapper white-text flow-text" href="#grocerylist"><span>Grocery List</span><i class="material-icons medium">keyboard_arrow_right</i></a>
		</div>
	</div>
</div>