<div class="grey darken-4 white-text buttonarea">
	<div class="row">
		<div class="col s6">
			<h3 id="search-label">Search Result:</h3>
		</div>
		<div class="col s6">
			<a class="dropdown-button wave-effect wave-light red darken-4 btn" id="search-filter" data-beloworigin="true" data-activates="dropdown-filter">Filter</a>
		</div>
		<ul id="dropdown-filter" class="dropdown-content">
			<form action="" id="allergy-filters">
			    <p>
			      <input type="checkbox" class="filled-in" id="gluten-free" checked="checked" />
			      <label for="gluten-free">Gluten-Free</label>
			    </p>
			    <p>
			      <input type="checkbox" class="filled-in" id="dairy-free" checked="checked" />
			      <label for="filled-in-box">Filled in</label>
			    </p>
			    <p>
			      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
			      <label for="filled-in-box">Filled in</label>
			    </p>
			    <p>
			      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
			      <label for="filled-in-box">Filled in</label>
			    </p>
			    <p>
			      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
			      <label for="filled-in-box">Filled in</label>
			    </p>
			    <p>
			      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
			      <label for="filled-in-box">Filled in</label>
			    </p>
  			</form>
		</ul>
	</div>	
</div>
<div id="search=attribution"></div>