<div class="grey darken-4 white-text page-title">
	<div class="row valign-wrapper" id="search-bar">
		<div class="col s6">
			<h4 id="search-label">Search Result:</h4>
		</div>
		<div class="col s6">
			<a class="dropdown-button wave-effect wave-light red darken-4 btn valign-wrapper" id="search-filter" data-beloworigin="true" data-activates="dropdown-filter">Filter</a>
		</div>
		<ul id="dropdown-filter" class="dropdown-content grey darken-2 white-text">
			<form action="" id="allergy-filters">
			    <p>
			      <input type="checkbox" class="filled-in" id="gluten-free" checked="checked" />
			      <label for="gluten-free">Gluten-Free</label>
			    </p>
			    <p>
			      <input type="checkbox" class="filled-in" id="dairy-free" checked="checked" />
			      <label for="dairy-free">Dairy-Free</label>
			    </p>
			    <p>
			      <input type="checkbox" class="filled-in" id="seafood-free" checked="checked" />
			      <label for="seafood-free">Seafood-Free</label>
			    </p>
			    <p>
			      <input type="checkbox" class="filled-in" id="soy-free" checked="checked" />
			      <label for="soy-free">Soy-Free</label>
			    </p>
			    <p>
			      <input type="checkbox" class="filled-in" id="dairy-free" checked="checked" />
			      <label for="dairy-free">Dairy-Free</label>
			    </p>
  			</form>
		</ul>
	</div>
	<div class="row valign-wrapper grey darken-3">
		<div class="col s6 m2">
			<a class="left white-text flow-text valign-wrapper" href="#login"><i class="material-icons medium">keyboard_arrow_left</i></a>
		</div>
		<div class="col m8">
			<h3 id="favorites-label" class="center hide-on-small-only">Search</h3>
		</div>
		<div class="col s6 m2">
			<a class="right valign-wrapper white-text flow-text" href="#favorites"><span>Favorites</span><i class="material-icons medium">keyboard_arrow_right</i></a>
		</div>
	</div>
</div>
