  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .brand-logo{
    left:40%;
    top:-65px;
    height: auto;
  }

  #logo{
    height: 200px;
    width: 200px;
  }

  #search-filter{ 
    width: 100%;
    height: 100px;
  }
  #search-label{
    padding-left: 20px;
  }

  #search-result{
    height: 100vh;
  }

  .button-area {
  	margin: 0px;
  } 

  .card-panel {
  	margin: 0px;
  }

  .login-screen {
    background: url("../images/food.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .login-logo {
    margin-left: 100px;
  }
  
  .FBLogin {
    background-color: #607cb7;
    padding: 10px;
    width: 200px;
    margin: 10px;
  }

  .GoogleLogin {
    background-color: #dd4b39;
    padding: 10px;
    width: 200px;
    margin: 10px;
  }

  .login-area {
    width: 220px;
    float: right;

  }
