  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .brand-logo{
    left:40%;
    top:-65px;
    height: auto;
  }

  #logo{
    height: 200px;
    width: 200px;
  }

  #search-filter{ 
    padding: 33px;
    margin: 0 auto;
  }

  .button-area {
  	margin: 0px;
  } 

  .card-panel {
  	margin: 0px;
  }

  .login-screen {
    background: url("../images/food.jpg");
  }

